rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /posts/{document=**} {
      allow read: if true;
      allow create: if true;
      allow update: if false;
      allow delete: if true;
    }

    match /events/{document=**} {
      allow read: if true;
      allow create, update: if false;
      allow delete: if true;
    }

    match /photos/{document=**} {
      allow read: if true;
      allow write: if false;
    }

    match /contacts/{document=**} {
      allow create: if true;
      allow read, update, delete: if false;
    }

    match /support_messages/{document=**} {
      allow read, create, update, delete: if true;
    }

    match /policy_proposals/{document=**} {
      allow read, create, update, delete: if true;
    }

    match /policy_reactions/{document=**} {
      allow read, create, update: if true;
      allow delete: if false;
    }

    match /hero_background_images/{document=**} {
      allow read, create, update, delete: if true;
    }

    match /admin_members/{document=**} {
      allow read, create, update, delete: if true;
    }

    match /visitors/{document=**} {
      allow read, create, update: if true;
      allow delete: if false;
    }

    match /visitor_counters/{document=**} {
      allow read, create, update: if true;
      allow delete: if false;
    }
  }
}
